apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
spec:
  replicas: 1        
  selector:
    matchLabels:
      run: nginx
  template:
    metadata:
      labels:
        run: nginx-test
    spec:
      containers:
      - image: nginx
        name: nginx:1.20.2
        ports:
        - containerPort: 80